<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>EC Store - 買い物かご</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-reboot.min.css">
        <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/"><img src="../assets/img/花アイコン.png" alt="花アイコン"></a></li>
                <li><a href="/register"><img src="../assets/img/人型アイコン.png" alt="人型アイコン"></a></li>
                <li><a href="/cart"><img src="../assets/img/カート.png" alt="カート"></a></li>
            </ul>
        </header>
        <main>
            <div class="container">
                <div id="cartArea">
                    <h1>カート</h1>
                </div>
                <div id="otherArea">
                    <button id="backBtn"><a href="/">一覧へ戻る</a></button>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <small>Copyright &copy; 2024 EBA All rights reserved.</small>
            </div>
        </footer>
        <script type="text/javascript">
            //値の取得
            const cart = JSON.parse('<%= JSON.stringify(cart) %>'.replace(/&#34;/g, '"'));
            let cartArea = document.getElementById("cartArea")
            let otherArea = document.getElementById("otherArea")
            //カート内の合計金額表示
            if (Object.keys(cart).length !== 0) {
                // 合計金額(表示が繰り返しにならないように外に出した)
                const sumParag = document.createElement("p");
                sumParag.classList.add("sumParag");
                const price = cart.map((e) => e.price);
                let total = price.reduce(function (a, b) {
                    return a + b;
                }, 0);
                sumParag.innerHTML = `合計金額：${total}円`
                cartArea.appendChild(sumParag);
            } else {
                const empty = document.createElement("p");
                empty.innerHTML = "カートは空です"
                cartArea.appendChild(empty);
            }
            cart.map((data) => {
                //タグの生成
                const form = document.createElement("form")
                const item = document.createElement("div");
                const productName = document.createElement("p");
                const productPrice = document.createElement("p");
                const deleteBtn = document.createElement("button");
                //カート内にアイテムがある場合
                if (Object.keys(data).length !== 0) {
                    //値に応じた写真の追加
                    const productImgParag = document.createElement("p");
                    const productImg = document.createElement("img");
                    if (data.name == 'バラ') {
                        productImg.setAttribute('src', '../assets/img/バラ.png')
                    }
                    if (data.name == 'ガーベラ') {
                        productImg.setAttribute('src', '../assets/img/ガーベラ.png')
                    }
                    if (data.name == 'カーネーション') {
                        productImg.setAttribute('src', '../assets/img/カーネーション.png')
                    }
                    if (data.name == 'チューリップ') {
                        productImg.setAttribute('src', '../assets/img/チューリップ.png')
                    }
                    if (data.name == 'アネモネ') {
                        productImg.setAttribute('src', '../assets/img/アネモネ.png')
                    }
                    if (data.name == 'ヒマワリ') {
                        productImg.setAttribute('src', '../assets/img/ヒマワリ.png')
                    }
                    if (data.name == 'ユリ') {
                        productImg.setAttribute('src', '../assets/img/ユリ.png')
                    }
                    if (data.name == 'アジサイ') {
                        productImg.setAttribute('src', '../assets/img/アジサイ.png')
                    }
                    if (data.name == 'カスミソウ') {
                        productImg.setAttribute('src', '../assets/img/カスミソウ.png')
                    }
                    if (data.name == 'キク') {
                        productImg.setAttribute('src', '../assets/img/キク.png')
                    }
                    //要素の挿入
                    form.setAttribute("action", `/deleteItem/${data.name}`)
                    form.setAttribute("method", "post")
                    productName.innerHTML = `${data.name}`
                    productPrice.innerHTML = `${data.price}円`
                    deleteBtn.innerHTML = "カートから削除"
                    item.classList.add('item');
                    deleteBtn.id = "deleteBtn";
                    productImgParag.appendChild(productImg)
                    item.appendChild(productImgParag)
                    item.appendChild(productName)
                    item.appendChild(productPrice)
                    item.appendChild(deleteBtn)
                    form.appendChild(item)
                    cartArea.appendChild(form)
                    //削除アラート
                    let deleteBtnId = document.getElementById("deleteBtn")
                    deleteBtnId.addEventListener("click", function () {
                        alert("カートから削除しました");
                    });
                }
            });
        </script>
    </body>
</html>
