<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Airline航空 - トップ</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-reboot.min.css">
        <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body id="index">
        <header>
            <div class="container">
                <div class="flex">
                    <h1><a href="/">AIRLINE</a></h1>
                    <nav>
                        <ul>
                            <li><a href="/">予約</a></li>
                            <li><a href="/member_login">ログイン</a></li>
                            <li><a href="/member_register">会員登録</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <form action="/ticket_select/:departure" method="post" id="form">
                    <h2>予約</h2>
                    <div class="grid_3">
                        <div>
                            <select name="departure" id="departure">
                                <option disabled selected>出発地を選ぶ</option>
                                <option value="東京（羽田）">東京(羽田)</option>
                                <option value="大阪（関西）">大阪(関西)</option>
                            </select>
                        </div>
                        <div id="airplane">
                        </div>
                        <div>
                            <select name="arrival" id="arrival">
                                <option disabled selected>到着地を選ぶ</option>
                                <option value="東京（羽田）">東京(羽田)</option>
                                <option value="大阪（関西）">大阪(関西)</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <p id="spot_alert"></p>
                    </div>
                    <div class="grid_3">
                        <div>
                            <input id="date" name="date" type="date">
                        </div>
                        <div></div>
                        <div>
                            <select name="people" id="people">
                                <option value="non" disabled selected>人数を選ぶ</option>
                                <option value="1">1人</option>
                                <option value="2">2人</option>
                                <option value="3">3人</option>
                                <option value="4">4人</option>
                                <option value="5">5人</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <p id="people_alert"></p>
                    </div>
                    <button id="search_btn">検索する</button>
                </form>
                <section>
                    <h2>国内線予約確認</h2>
                    <p class="button"><a href="/booking_search">ご予約情報の確認へ</a></p>
                </section>
            </div>
        </main>
        <footer>
            <div class="container">
                <small>Copyright &copy; 2024 Airline. All rights reserved.</small>
            </div>
        </footer>
        <script type="text/javascript">
        // データ取得
            const flights = JSON.parse('<%= JSON.stringify(flights) %>'.replace(/&#34;/g, '"'));
            let search_btn = document.getElementById("search_btn");
            let departure = document.querySelector('[name="departure"]');
            let arrival = document.querySelector('[name="arrival"]');
            let spot_alert = document.getElementById("spot_alert");
            let people = document.querySelector('[name="people"]');
            let people_alert = document.getElementById("people_alert");
            // 検索ボタン
            search_btn.addEventListener("click", function (event) {
            // departure, arrival
                if
                    (
                    (departure.value == 'departure_tokyo') && (arrival.value == 'arrival_tokyo') ||
                    (departure.value == 'departure_osaka') && (arrival.value == 'arrival_osaka')
                    ) {
                    spot_alert.textContent = "出発地と到着地は同じ場所にできません。"
                    spot_alert.style.color = "#f00"
                    event.preventDefault()
                } else if(departure.value == 'departure_spot'){
                    spot_alert.textContent = "出発地を選択してください。"
                    spot_alert.style.color = "#f00"
                    event.preventDefault()
                } else if(arrival.value == 'arrival_spot'){
                    spot_alert.textContent = "到着地を選択してください。"
                    spot_alert.style.color = "#f00"
                    event.preventDefault()
                } else{
                    spot_alert.textContent=""
                }
            // people
                if(people.value == 'non'){
                    people_alert.textContent = "人数を選択してください。"
                    people_alert.style.color = "#f00"
                    event.preventDefault()
                } else{
                    people_alert.textContent=""
                }
            })
        // 日付コントロール
            let dateValue = document.getElementById("date");
            let today = new Date();
            today.setDate(today.getDate());
            let yyyy = today.getFullYear();
            let mm = ("0" + (today.getMonth() + 1)).slice(-2);
            let dd = ("0" + today.getDate()).slice(-2);
            // 初期値を今日にする
            dateValue.value = yyyy + '-' + mm + '-' + dd;
            // 昨日以前を選択不可能に
            dateValue.setAttribute("min", yyyy + '-' + mm + '-' + dd)
            // 一か月以上先を選択不可に
            let maxDate = new Date();
            today.setDate(maxDate.getDate() + 30);
            let maxyyyy = today.getFullYear();
            let maxmm = ("0" + (today.getMonth() + 1)).slice(-2);
            let maxdd = ("0" + today.getDate()).slice(-2);
            dateValue.setAttribute("max", maxyyyy + '-' + maxmm + '-' + maxdd)
        </script>
    </body>
</html>
