<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>EC Store - 管理者ログイン</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-reboot.min.css">
        <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/"><img src="../assets/img/アイコン_花.png" alt="アイコン_花"></a></li>
                <li><a href="/register"><img src="../assets/img/アイコン_ユーザー.png" alt="アイコン_ユーザー"></a></li>
                <li><a href="/cart"><img src="../assets/img/アイコン_カート.png" alt="アイコン_カート"></a></li>
                <li><a href="/login"><img src="../assets/img/アイコン_管理画面.png" alt="アイコン_管理画面"></a></li>
            </ul>
        </header>
        <main>
            <div class="container">
                <h1>管理者ログイン</h1>
                <form id="login" method="gett" action="/control_register">
                    <label for="id">ID</label><input type="text" id="id" name="id">
                    <p id="id_alert"></p>
                    <label for="password">パスワード</label><input type="password" id="password" name="password">
                    <p id="password_alert"></p>
                    <button id="loginBtn">ログイン</button>
                </form>
            </div>
        </main>
        <footer>
            <div class="container">
                <small>Copyright &copy; 2024 EBA All rights reserved.</small>
            </div>
        </footer>
        <script type="text/javascript">
            const login = JSON.parse('<%= JSON.stringify(login) %>'.replace(/&#34;/g, '"'));
            let loginBtn = document.getElementById("loginBtn")
            let id = document.getElementById("id")
            let id_alert = document.getElementById("id_alert")
            let password = document.getElementById("password")
            let password_alert = document.getElementById("password_alert")
            console.log(login[0].id)
            console.log(login[0].password)
            loginBtn.addEventListener("click", function (event) {
                if (id.value.match(/[^a-zA-Z0-9!-/:-@¥[-`{-~]/)) {
                    id_alert.textContent = "英数字・記号のみを入力してください";
                    id_alert.style.color = "#f00";
                    id.style.borderColor = "#f00";
                    event.preventDefault();
                } else if (!id.value) {
                    id_alert.textContent = "入力してください";
                    id_alert.style.color = "#f00";
                    id.style.borderColor = "#f00";
                    event.preventDefault();
                } else if (id.value !== login[0].id) {
                    id_alert.textContent = "IDが一致しません";
                    id_alert.style.color = "#f00";
                    id.style.borderColor = "#f00";
                    event.preventDefault();
                } else {
                    id_alert.textContent = ""
                    id.style.borderColor = "#333"
                }
                //password
                if (password.value.match(/[^a-zA-Z0-9!-/:-@¥[-`{-~]/)) {
                    password_alert.textContent = "英数字・記号のみを入力してください";
                    password_alert.style.color = "#f00";
                    password.style.borderColor = "#f00";
                    event.preventDefault();
                } else if (!password.value) {
                    password_alert.textContent = "入力してください";
                    password_alert.style.color = "#f00";
                    password.style.borderColor = "#f00";
                    event.preventDefault();
                } else if (password.value !== login[0].password) {
                    password_alert.textContent = "パスワードが一致しません";
                    password_alert.style.color = "#f00";
                    password.style.borderColor = "#f00";
                    event.preventDefault();
                } else {
                    password_alert.textContent = ""
                    password.style.borderColor = "#333"
                }
            });
        </script>
    </body>
</html>
