<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Airline航空 - 会員登録完了</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-reboot.min.css">
        <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body id="booking_confirm">
        <header>
            <div class="container">
                <div class="flex">
                    <h1><a href="/">AIRLINE</a></h1>
                     <nav>
                        <ul>
                            <li><a href="/">予約</a></li>
                            <li><a href="/member_register">会員登録</a></li>
                        </ul>
                    </nav> 
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <h2>ご登録が完了しました。</h2>
                <h3 id="members_num"></h3>
                <div>
                    <p class="button"><a href="/">TOPへ戻る</a></p>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <small>Copyright &copy; 2024 Airline. All rights reserved.</small>
            </div>
        </footer>
        <script type="text/javascript">
            const data2 = JSON.parse('<%= JSON.stringify(data2) %>'.replace(/&#34;/g, '"'));
            let array = data2[0];
            let newArray = Object.values(array);
            let members_num = document.getElementById("members_num");
            members_num.append('お客様番号：'+newArray)
        </script>
    </body>
</html>
