<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>EC Store - 新規会員登録</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-reboot.min.css">
        <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/"><img src="../assets/img/花アイコン.png" alt="花アイコン"></a></li>
                <li><a href="/register"><img src="../assets/img/人型アイコン.png" alt="人型アイコン"></a></li>
                <li><a href="/cart"><img src="../assets/img/カート.png" alt="カート"></a></li>
            </ul>
        </header>
        <main>
            <div class="container">
                <h1>新規会員登録</h1>
                <form id="register" action="/confirm" method="post">
                    <label for="userName">お名前</label><input type="text" id="userName" name="userName" autofocus>
                    <p id="userName_alert"></p>
                    <label for="furigana">ふりがな</label><input type="text" id="furigana" name="furigana">
                    <p id="furigana_alert"></p>
                    <label for="address">住所</label><input type="text" id="address" name="address">
                    <p id="address_alert"></p>
                    <label for="email">メールアドレス</label><input type="text" id="email" name="email">
                    <p id="email_alert"></p>
                    <label for="password">パスワード</label><input type="password" id="password" name="password">
                    <p id="password_alert"></p>
                    <button id="next_btn" type="submit">次へすすむ</button>
                </form>
                <div>
                    <button><a href="/">一覧へ戻る</a></button>
                </div>
        </main>
        <footer>
            <div class="container">
                <small>Copyright &copy; 2024 EBA All rights reserved.</small>
            </div>
        </footer>
        <script type="text/javascript">
            let next_btn = document.querySelector("#next_btn");
            next_btn.addEventListener("click", function (event) {
                //ID取得
                let userName = document.getElementById("userName");
                let furigana = document.getElementById("furigana");
                let address = document.getElementById("address");
                let email = document.getElementById("email");
                let password = document.getElementById("password");
                //alert文
                let userName_alert = document.getElementById("userName_alert");
                let furigana_alert = document.getElementById("furigana_alert");
                let address_alert = document.getElementById("address_alert");
                let email_alert = document.getElementById("email_alert");
                let password_alert = document.getElementById("password_alert");
                //name
                if (userName.value.match(/[0-9!-/:-@¥[-`{-~]/)) {
                    userName_alert.textContent = "数字・記号を含めないでください";
                    userName_alert.style.color = "#f00";
                    userName.style.borderColor = "#f00";
                    event.preventDefault();
                } else if (!userName.value) {
                    userName_alert.textContent = "入力してください";
                    userName_alert.style.color = "#f00";
                    userName.style.borderColor = "#f00";
                    event.preventDefault();
                } else {
                    userName_alert.textContent = ""
                    userName.style.borderColor = "#333"
                }
                //furigana
                if (furigana.value.match(/^[^ぁ-ん]+$/)) {
                    furigana_alert.textContent = "ひらがなのみ入力してください";
                    furigana_alert.style.color = "#f00";
                    furigana.style.borderColor = "#f00";
                    event.preventDefault();
                } else if (!furigana.value) {
                    furigana_alert.textContent = "入力してください";
                    furigana_alert.style.color = "#f00";
                    furigana.style.borderColor = "#f00";
                    event.preventDefault();
                } else {
                    furigana_alert.textContent = ""
                    furigana.style.borderColor = "#333"
                }
                //address
                if (address.value.match(/[!-/:-@¥[-`{-~]/)) {
                    address_alert.textContent = "記号を含めないでください";
                    address_alert.style.color = "#f00";
                    address.style.borderColor = "#f00";
                    event.preventDefault();
                } else if (!address.value) {
                    address_alert.textContent = "入力してください";
                    address_alert.style.color = "#f00";
                    address.style.borderColor = "#f00";
                    event.preventDefault();
                } else {
                    address_alert.textContent = ""
                    address.style.borderColor = "#333"
                }
                //email
                if (email.value.match(/[^a-zA-Z0-9!-/:-@¥[-`{-~]/)) {
                    email_alert.textContent = "英数字・記号のみを入力してください";
                    email_alert.style.color = "#f00";
                    email.style.borderColor = "#f00";
                    event.preventDefault();
                } else if (!email.value) {
                    email_alert.textContent = "入力してください";
                    email_alert.style.color = "#f00";
                    email.style.borderColor = "#f00";
                    event.preventDefault();
                } else {
                    email_alert.textContent = ""
                    email.style.borderColor = "#333"
                }
                //password
                if (password.value.match(/[^a-zA-Z0-9!-/:-@¥[-`{-~]/)) {
                    password_alert.textContent = "英数字・記号のみを入力してください";
                    password_alert.style.color = "#f00";
                    password.style.borderColor = "#f00";
                    event.preventDefault();
                } else if (!password.value) {
                    password_alert.textContent = "入力してください";
                    password_alert.style.color = "#f00";
                    password.style.borderColor = "#f00";
                    event.preventDefault();
                } else {
                    password_alert.textContent = ""
                    password.style.borderColor = "#333"
                }
            });
        </script>
    </body>
</html>
