/* 共通 */
body {
  background: beige;
  color: #333;
}
.container {
  width: 768px;
  margin: auto;
  text-align: center;
}
header {
  background: rgb(81, 40, 11);
  position: fixed;
  width: 100%;
  z-index: 101;
}
header ul {
  width: 768px;
  margin: auto;
  z-index: 100;
}
main {
  padding-top: 50px;
}
p,
img {
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  list-style-type: none;
}
li img {
  width: 50px;
  padding: 5px;
}
h1,
h2 {
  font-weight: normal;
}
button {
  background: rgb(81, 40, 11);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
}
button:hover {
  opacity: 0.7;
}
a {
  color: rgb(255, 255, 255);
}
a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
dt,
dd {
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  header ul {
    width: 100%;
  }
}
/* index */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.item {
  border-bottom: 1px solid #555;
  padding: 10px;
}
#catalog select {
  padding: 5px;
}
#catalog img {
  height: 200px;
}
#catalog img:hover {
  background: rgb(210, 180, 140, 0.5);
}
/* ::beforeで星の背景・::afterで星の色塗りつぶし */
.rateWrap {
  display: flex;
  /* width: 220px; */
  padding: 5px;
}
.rateStar {
  position: relative;
  display: inline-block;
  /* width: 100px; */
  height: 20px; /* ★１個の幅 */
  font-size: 20px;
}
.rateStar::before,
.rateStar::after {
  position: absolute;
  display: inline-block;
  height: 20px;
  content: "★★★★★";
  line-height: 20px;
}
.rateStar::before {
  color: #555;
}
.rateStar::after {
  /* はみ出た部分を隠す */
  overflow: hidden;
  color: #ffb906;
  width: calc(var(--score) * 20px);
}
@media screenbutton and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
/* product */
#productArea {
  border-bottom: 1px solid #555;
  padding-bottom: 30px;
}
#productArea img {
  height: 200px;
}
#productArea #description {
  margin-bottom: 20px;
}
#reviewArea li {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #000;
}
/* register */
/* confirm */
#register input,
#confirm input {
  display: block;
  margin: auto;
  padding: 5px;
  width: 50%;
}
/* cart */
#cartArea img {
  height: 200px;
}
#cartArea .item {
  border: 1px solid #000;
  margin: 10px;
}
#cartArea .sumParag {
  font-size: 120%;
}
/* login */
#login input {
  display: block;
  margin: auto;
  padding: 5px;
  width: 50%;
}
/* control_register */
/* control_edit */
nav {
  background:tan;
  position: fixed;
  width: 100%;
  z-index: 99;
}
nav ul {
  width: 768px;
  margin: auto;
  padding: 5px;
  font-size: 120%;
  z-index: 98;
}
nav ul li {
  padding: 0 5px;
}
nav ul li a{
  color: #333;
}
body#control_register nav ul li:nth-of-type(2) a{
  color:#fff;
  border-bottom: 2px solid #fff;
}
body#control_edit nav ul li:nth-of-type(4) a{
  color:#fff;
  border-bottom: 2px solid #fff;
}
#control_register main,
#control_edit main{
padding-top: 100px;
}
/* control_register */
#control_register input,
#control_register textarea,
#control_edit input,
#control_edit textarea {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 5px;
  width: 50%;
}
/* control_edit */
#control_edit .grid img{
  width: 200px;
}
#control_edit .name a{
  color: coral;
  border-bottom: 1.5px solid coral;
  padding: 0 5px;
  font-size: 110%;
}
#control_edit .name a:hover{
  font-weight: bold;
  cursor: pointer;
}
#control_edit_product img{
  width: 200px;
}

#uploadedImg{
  padding-bottom: 30px;
}
